<div id="user5w">
        <div id="user5" class="row-fluid">
          <div class="module  ">
            <div class="module-body">
              <div class="custom" >                
                <div style="float: left; margin: 10px 20px 0 0; width: 65%;">
                  <div style="float: left;">
                    <a title="Instituto de Astrofísica de Canarias" href="http://www.iac.es" target="_blank">
                      <img style="float: left; padding: 5px 10px  0px 5px;" src="static/logo_iac.png" alt="IAC" height="70" /></a>
                  </div>
                  <div style="float: left; padding-top: 0px; width: 80%; margin-left: 15px;">
                    Instituto de Astrofisica de Canarias. C/ Via Láctea s/n 38200, La Laguna. Canary Islands. Spain. <br />
                    <a href="http://www.iac.es/privacidad.php?lang=en" target="_blank">Privacy policy</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clr"></div>
        </div>
      </div>    

      <div id="footer-w">
        <div id="footer">               
          <div class="clr"></div>
        </div>
      </div>