<!doctype html>
<html>
  <head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" type="text/css" href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='logo_iac.ico') }}"> -->
    <title>Enhance</title>
    <script type="text/javascript" src="static/socket.io.min.js"></script>
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" type="text/css" />
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet" /> 
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-0.12.15.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
    <script>
      var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
    </script>
  </head>
  <body class="background">

      <div id="scroll-top"></div>
      <div id="header-w">
          <div id="header" class="row-fluid">
                      <a href="/severoochoa"><div class="logo">.</div></a>
           
                  <div class="sitedescription"></div>
                       
                  
                                         
          </div>       
      </div>

      {% include "menu.html" %}
      
      <div id="main"> 
        <div id="wrapper-w">
          <div id="wrapper">
            <div id="comp-w">        
              <div class="row-fluid">                            
                <div id="comp" class="span9">
                  <div id="comp-i">
                    <div id="user1" class="row-fluid">
                      <div class="module  ">
                        <div class="module-body">
                          <div class="random-image">
                            <!-- <img src="static/solar_physics.jpg" alt="solar_physics.jpg" width="700" height="200" /> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                              
                  <div class="clr"></div> 
                  <div id="system-message-container"></div>
                        
                  <div class="item-page">
                    <h1>Solar Physics</h1>
                        
                    <p> </p>
                    <p style="text-align: justify;">The Sun constitutes a physics laboratory with complex interactions between its electrically conducting plasma and a strong magnetic field, in conditions that cannot be reproduced in our laboratories.</p>
                    <p style="text-align: justify;">A new paradigm has been emerging that involves a connected view of the solar atmosphere linked by the magnetic field from the solar interior to the outer corona, as well as detailed local helioseismology in sunspots, loops and other magnetic features. <a href="http://www.iac.es/proyectos.php?op1=6&amp;op2=108&amp;lang=en">The solar physics group of the IAC</a> holds a leadership position in the investigation of the Sun in the framework of this global paradigm as exemplified by its role in major projects like the<a href="http://www.est-east.eu/"> European Solar Telescope</a>, the <a href="http://sci.esa.int/solar-orbiter/">Solar Orbiter</a> mission of ESA or the NASA-JAXA-IAC Chromospheric Ly-alpha Spectropolarimeter and the leadership of the European Network <a href="http://www.solarnet-east.eu/">SOLARNET</a>.</p>
                    <p style="text-align: justify;">The group's expertise is at the forefront of the international research, striving in the coming years to understand how the magnetic fields emerge from the solar interior through the surface and rise to the upper atmosphere leaving in the meantime its imprint of complex interaction and releasing part of its energy to the medium. The IAC's expertise in the development of polarimetric instrumentation [TIP &amp; LPSP ; Sunrise ; EST ; Solar Orbiter], in the development and application of diagnostic techniques for magnetized plasmas and in 3D numerical radiation-MHD modelling has established the team as one of the most competitive and scientifically prepared in the world.</p>
                    <p> </p>
                    <h4>Goals:</h4>                              
                    <ul>
                    <li style="text-align: justify;">To perform realistic 3D modelling of the dynamics and radiative processes in the solar atmosphere using massively parallel computers.</li>
                    <li style="text-align: justify;">Develop new diagnostic methods based on radiative transfer of polarized light.</li>
                    <li style="text-align: justify;">Carry out ground-breaking observations from new ground and space facilities with unprecedented spatial resolution, time cadence and polarimetric sensitivity.</li>
                    <li style="text-align: justify;">Establish a model of Earth’s globally-averaged radiation balance.</li>
                    <li style="text-align: justify;">Observational and theoretical studies of the solar photosphere and sunspots.</li>
                    </ul>
                    <p> </p>
                          
                          
                  </div>


                  <div class="clr"></div>
                                                                                              
                </div>
              </div>                     
            </div>
          </div>
        </div>
      </div>

      {% include "footer.html" %}
          
                              
  
  </body>
</html>