<div id="navr">
          <div id="navl">
            <div id="nav">
                  
        <ul class="menu">
        
        <li class="item-334">
          <a href="/" ><span class="menutitle">Home</span> <span class="menudesc"></span></a>
        </li>

        <li class="item-335 deeper parent">
            <a href="people" ><span class="menutitle">People</span> <span class="menudesc"></span></a>
          </li>

        <!-- <li class="item-335 deeper parent">
            <a href="databases" ><span class="menutitle">Databases</span> <span class="menudesc"></span></a>
            <ul>
              <li class="item-336">
                <a href="gris_db" ><span class="menutitle">GRIS</span> <span class="menudesc"></span></a>
              </li>
            </ul>
          </li>

         -->

        <li class="item-335 deeper parent">
            <a href="codes" ><span class="menutitle">Codes</span> <span class="menudesc"></span></a>
            <ul>
              <li class="item-336">
                <a href="sir_offline" ><span class="menutitle">SIR</span> <span class="menudesc"></span></a>
              </li>
              <li class="item-337">
                <a href="nicole_offline" ><span class="menutitle">Nicole</span><span class="menudesc"></span></a>
              </li>
              <li class="item-337">
                <a href="hazel_offline" ><span class="menutitle">Hazel</span><span class="menudesc"></span></a>
              </li>            
                <li class="item-336">
                  <a href="enhance" ><span class="menutitle">Enhance (online)</span> <span class="menudesc"></span></a>
                </li>
                <li class="item-337">
                  <a href="hazel" ><span class="menutitle">Hazel (online)</span><span class="menudesc"></span></a>
                </li>
              </ul>
        </li>
        
        <!-- <li class="item-375 deeper parent">
          <a href="/severoochoa/index.php/people" ><span class="menutitle">People</span> <span class="menudesc"></span></a>
          <ul>
            <li class="item-376">
              <a href="/severoochoa/index.php/people/coordination" ><span class="menutitle">Coordination</span> <span class="menudesc"></span></a>
            </li><li class="item-377">
              <a href="/severoochoa/index.php/people/management" ><span class="menutitle">Management &amp; Outreach</span> <span class="menudesc"></span></a>
            </li>
            <li class="item-379">
              <a href="/severoochoa/index.php/people/postdoctoral-fellows" ><span class="menutitle">Postdoctoral Fellows</span> <span class="menudesc"></span></a>
            </li>
            <li class="item-380">
              <a href="/severoochoa/index.php/people/engineers" ><span class="menutitle">Engineers</span> <span class="menudesc"></span></a>
            </li>
            <li class="item-381">
              <a href="/severoochoa/index.php/people/phd-students" ><span class="menutitle">PhD Students</span> <span class="menudesc"></span></a>
            </li>
          </ul>
        </li> -->
        
        </ul>
                  </div>            
      </div></div>